In [1]:
#Import our libraries
import time
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

#Import our helper functions
import helper_functions

# Step 1: View the list of reports available

In [2]:
report_lst = helper_functions.get_available_reports()

In [3]:
#Turn it into a list to see all of them
list(report_lst['ReportName'])

['_Current Employee Deductions and Benefits',
 '2013-03-05T21:47:40.188Z',
 '2020-10-26T18:25:32.678Z',
 '2021 Allocation Report (1)',
 '401k Allocation Report V1',
 '401k Allocation Report V2',
 '401k Allocation Report V2_UKG',
 '401k Allocation Report V3_UKG',
 '401k Allocation Report V3_UKG v2',
 '401k Allocation Report V3_UKG v4',
 '5 Level Supervisors',
 'Active EE_DD List',
 'Allocated Hours FTE by Date',
 'Allocated Hours FTE by Month',
 'Annual Earnings',
 'Audit Report with Time vs Pay Matrix Tables',
 'Comp Project V3',
 'Configuration Validation',
 'Counts by Location',
 'Current Employee Deductions and Benefits',
 'Current Employee Deductions and Benefits v2',
 'Current Employee Deductions and Benefits.TEST',
 "David's Report",
 "David's Report V2",
 'Deduction list',
 'Deduction Pay History By Deduction For EmployeesUKG',
 'Deductions in Arrears V2',
 'Deferred Comp Wages and Hours_UKG',
 'Dependents by Employee and Plan test',
 'Document Category Report',
 'DSHS_New Hires',
 'Earning Codes Table',
 'Earnings Pay History By Earning Code For Employees_ULTI',
 'Earnings_by_Code',
 'Earnings_with_PayPeriodID_TEST',
 'EE Holiday List',
 'EE Location List',
 'Employee job history report',
 'Employee List',
 'Employee Location Changes v2',
 'Employee PTO History - Balances - Updated 2',
 'Employee Waived Deductions',
 'EmployeeAllocation',
 'Employees Not Clocked In for the Day',
 'FSA EE Contribution Report - ded-payroll stop utility',
 'FTE List',
 'HASER Contributions v2',
 'Job Code',
 'Joel Report',
 'Labels - New Hires',
 'Labor Distribution',
 'Labor Distribution by EE',
 'Locations',
 'Locations',
 'Locations',
 'Locations Address',
 'Org levels (business units)',
 'Organizational Levels',
 'Overtime Report',
 'Pay Period',
 'Pay Period (1)',
 'PayCheck summary TEST',
 'Pending Requests',
 'Point In TimeUKG',
 'Pre-Check Deduction',
 'Pre-Check Earnings',
 'Pre-Check Master',
 'Pre-Check Payroll Register',
 'Pre-Check Tax',
 'Prenote',
 'Pro-rate for Salaried New',
 'Pro-rate for Salaried Term',
 'Report with Declined Coverage Reason',
 'Report with Declined Coverage Reason with Term',
 'SSN Verification',
 'Test didactions',
 'Test enrollments',
 "Todd's Report 1",
 'UNUM Benefit Billing By Provider Report',
 'ZZ_Deductions Enrolment',
 'Active Benefits (1)',
 'HSA Contribution Report']

In [4]:
#Get the precheck deduction report pathname
report_lst[report_lst['ReportName'].str.contains('pre', regex=True, case=False)]

,ReportName,ReportPath
64,Pre-Check Deduction,/content/folder[@name='zzzCompany Folders']/fo...
65,Pre-Check Earnings,/content/folder[@name='zzzCompany Folders']/fo...
66,Pre-Check Master,/content/folder[@name='zzzCompany Folders']/fo...
67,Pre-Check Payroll Register,/content/folder[@name='zzzCompany Folders']/fo...
68,Pre-Check Tax,/content/folder[@name='zzzCompany Folders']/fo...
69,Prenote,/content/folder[@name='zzzCompany Folders']/fo...

In [5]:
report_path = report_lst[report_lst['ReportName'] == 'Pre-Check Earnings']['ReportPath'].loc[65]
report_path

"/content/folder[@name='zzzCompany Folders']/folder[@name='Proliance Surgeons, Inc., P.S.']/folder[@name='UltiPro']/folder[@name='Export to SQL']/report[@name='Pre-Check Earnings']"

## Step 2: Retrieve the report

In [6]:
df = helper_functions.retrieve_report(report_path) 
df

c:\UKG\Reports as a service\Precheck\helper_functions.py:367: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].astype(str).str.replace('{', '')
c:\UKG\Reports as a service\Precheck\helper_functions.py:368: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].astype(str).str.replace('}', '')
c:\UKG\Reports as a service\Precheck\helper_functions.py:369: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].astype(str).str.replace('[', '')
c:\UKG\Reports as a service\Precheck\helper_functions.py:370: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].astype(str).str.replace(']', '')

,period_control_date,employee_number,earnings_code,earnings_(stub),current_amount,current_hours,job_code,job_title,location_code,base_amount,hourly_pay_rate,ytd_amount,pay_rate
0,2023-02-17T00:00:00,001004225,REG,Regular Pay,866.76,31,110005,MA Supervisor,001500,866.76,27.96,1344.32,27.96
1,2023-02-17T00:00:00,001005225,BONUS,Bonus,1466.1,'@xs:nil': 'true',110001,MA,008040,1466.1,23.45,2932.2,0

In [7]:
#Clean the columns
df['period_control_date'] = df['period_control_date'].str.replace('T', ' ')

#View the results
df

,period_control_date,employee_number,earnings_code,earnings_(stub),current_amount,current_hours,job_code,job_title,location_code,base_amount,hourly_pay_rate,ytd_amount,pay_rate
0,2023-02-17 00:00:00,001004225,REG,Regular Pay,866.76,31,110005,MA Supervisor,001500,866.76,27.96,1344.32,27.96
1,2023-02-17 00:00:00,001005225,BONUS,Bonus,1466.1,'@xs:nil': 'true',110001,MA,008040,1466.1,23.45,2932.2,0

# Step 3: Export the report as a CSV

In [8]:
#df.to_csv('ukg_bulk_insert.csv', index=False)

# Step 4: Insert the report into BiData2 as a table

In [9]:
#helper_functions.create_sql_table_v2('STG_PreCheck_Earnings')

# Step 5: Close the API connection

In [10]:
helper_functions.close_api_connection()

'<s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action s:mustUnderstand="1">http://www.ultipro.com/dataservices/bidata/2/IBIDataService/LogOffResponse</a:Action></s:Header><s:Body><LogOffResponse xmlns="http://www.ultipro.com/dataservices/bidata/2"><LogOffResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ServiceId i:nil="true"/><ClientAccessKey>PLAB4</ClientAccessKey><Token i:nil="true"/><Status>LoggedOff</Status><StatusMessage i:nil="true"/><InstanceKey i:nil="true"/></LogOffResult></LogOffResponse></s:Body></s:Envelope>'