In [110]:
#Import our libraries
import time
import requests
from requests.auth import HTTPBasicAuth

import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

#import utm_helper_functions as hf
import helper_functions_labor_distribution 

import warnings

In [111]:
#Hide warnings
warnings.filterwarnings(action='once')

In [112]:
#Set the number of rows as output
pd.set_option('display.max_rows', 50)

## Obtain the time dataset

In [113]:
#Set the date range variables for the date range we want pulled
year = '2023'
month = '03'

In [114]:
#Our endpoint
url="https://kN21.ultipro.com/UtmOdataServices/api/Time?$filter=year(In) eq " + year + " and month(In) eq " + month

#Our username and password for the API authentication
username = "znarkin"
password = "page!i)yCI5-Y26o}7i("


#Pass in the Customer API key as a header
#headers = {"US-Customer-Api-Key": "PLAB4"}


#The response variable
response = requests.get(url, auth=HTTPBasicAuth(username, password))

#response.text

In [115]:
data = response.json()
#data

In [116]:
time_df = pd.DataFrame(data['value'])
time_df

,Id,EmpId,WorkDate,PaycodeId,PaycodeExp,InOrg,OutOrg,In,Out,InExp,...,SiteIn,SiteOut,QuanGood,QuanScrap,BegSched,EndSched,Status,AdjustmentDate,InRounded,OutRounded
0,8031137,001008241-JAV8Y,2023-03-02,0,WKHR,2023-03-02T13:31:00-05:00,2023-03-02T19:39:00-05:00,2023-03-02T13:31:00-05:00,2023-03-02T18:30:00-05:00,M 30,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-02T13:31:00-05:00,2023-03-02T18:30:00-05:00
1,8031138,001008157-JAV8Y,2023-03-02,0,WKHR,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,M 61,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00
2,8031139,001008104-JAV8Y,2023-03-02,0,WKHR,2023-03-02T13:31:00-05:00,2023-03-02T16:49:00-05:00,2023-03-02T13:31:00-05:00,2023-03-02T16:49:00-05:00,M 31,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-02T13:31:00-05:00,2023-03-02T16:49:00-05:00
3,8031140,001003230-JAV8Y,2023-03-02,0,WKHR,2023-03-02T13:31:00-05:00,2023-03-02T14:04:00-05:00,2023-03-02T14:34:00-05:00,2023-03-02T18:40:00-05:00,M 30,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-02T14:34:00-05:00,2023-03-02T18:40:00-05:00
4,8031141,001008228-JAV8Y,2023-03-02,0,WKHR,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,M 60,...,ewslogin,ewslogin,0.0,0.0,,,3,None,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48693,8094655,001007866-JAV8Y,2023-03-29,0,WKHR,2023-03-29T11:55:00-04:00,2023-03-29T17:31:00-04:00,2023-03-29T11:55:00-04:00,2023-03-29T17:31:00-04:00,M 25,...,0002-010,0002-010,0.0,0.0,,,0,None,2023-03-29T11:55:00-04:00,2023-03-29T17:31:00-04:00
48694,8094656,001004423-JAV8Y,2023-03-29,0,WKHR,2023-03-29T11:56:00-04:00,2023-03-29T17:02:00-04:00,2023-03-29T11:56:00-04:00,2023-03-29T17:02:00-04:00,M 50,...,ewslogin,ewslogin,0.0,0.0,,,0,None,2023-03-29T11:56:00-04:00,2023-03-29T17:02:00-04:00
48695,8094657,001004763-JAV8Y,2023-03-29,0,WKHR,2023-03-29T11:56:00-04:00,2023-03-29T13:54:00-04:00,2023-03-29T11:56:00-04:00,2023-03-29T13:54:00-04:00,M 34,...,,,0.0,0.0,,,0,None,2023-03-29T11:56:00-04:00,2023-03-29T13:54:00-04:00
48696,8094658,000280161-JAV8Y,2023-03-29,0,WKHR,2023-03-29T11:57:00-04:00,2023-03-29T16:30:00-04:00,2023-03-29T11:57:00-04:00,2023-03-29T16:30:00-04:00,M 57,...,ewslogin,ewslogin,0.0,0.0,,,0,None,2023-03-29T11:57:00-04:00,2023-03-29T16:30:00-04:00
48697,8094659,001002598-JAV8Y,2023-03-29,0,WKHR,2023-03-29T11:57:00-04:00,2023-03-29T14:59:00-04:00,2023-03-29T11:57:00-04:00,2023-03-29T14:59:00-04:00,M 31,...,ewslogin,ewslogin,0.0,0.0,,,0,None,2023-03-29T11:57:00-04:00,2023-03-29T14:59:00-04:00

In [117]:
time_df.columns

Index(['Id', 'EmpId', 'WorkDate', 'PaycodeId', 'PaycodeExp', 'InOrg', 'OutOrg',
       'In', 'Out', 'InExp', 'OutExp', 'ShiftExp', 'SchHrs', 'RegHr', 'Overt1',
       'Overt2', 'Overt3', 'Overt4', 'Overt5', 'RegPay', 'Ot1Pay', 'Ot2Pay',
       'Ot3Pay', 'Ot4Pay', 'Ot5Pay', 'WeekReg', 'WeekOt1', 'WeekOt2',
       'WeekOt3', 'WeekOt4', 'WeekOt5', 'ReasonId', 'PaygroupId', 'LocationId',
       'JobId', 'ProjectId', 'OrgLevel1Id', 'OrgLevel2Id', 'OrgLevel3Id',
       'OrgLevel4Id', 'PeriodTh', 'SiteIn', 'SiteOut', 'QuanGood', 'QuanScrap',
       'BegSched', 'EndSched', 'Status', 'AdjustmentDate', 'InRounded',
       'OutRounded'],
      dtype='object')

In [118]:
#Subset the columns
time_df = time_df[['EmpId', 'WorkDate', 'RegHr', 'Overt1', 'Overt2','Overt3','Overt4','Overt5', 'In', 'Out', 'Id']]
time_df

,EmpId,WorkDate,RegHr,Overt1,Overt2,Overt3,Overt4,Overt5,In,Out,Id
0,001008241-JAV8Y,2023-03-02,4.9833,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T18:30:00-05:00,8031137
1,001008157-JAV8Y,2023-03-02,3.5000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,8031138
2,001008104-JAV8Y,2023-03-02,3.3000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T16:49:00-05:00,8031139
3,001003230-JAV8Y,2023-03-02,4.1000,0.0,0.0,0.0,0.0,0.0,2023-03-02T14:34:00-05:00,2023-03-02T18:40:00-05:00,8031140
4,001008228-JAV8Y,2023-03-02,3.5000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,8031141
...,...,...,...,...,...,...,...,...,...,...,...
48693,001007866-JAV8Y,2023-03-29,5.6000,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:55:00-04:00,2023-03-29T17:31:00-04:00,8094655
48694,001004423-JAV8Y,2023-03-29,5.1000,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:56:00-04:00,2023-03-29T17:02:00-04:00,8094656
48695,001004763-JAV8Y,2023-03-29,1.9667,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:56:00-04:00,2023-03-29T13:54:00-04:00,8094657
48696,000280161-JAV8Y,2023-03-29,4.5500,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:57:00-04:00,2023-03-29T16:30:00-04:00,8094658
48697,001002598-JAV8Y,2023-03-29,3.0333,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:57:00-04:00,2023-03-29T14:59:00-04:00,8094659

In [119]:
#Rename the ID column
time_df.rename(columns={'Id': 'TimeId'}, inplace=True)

C:\Users\SQLadmin\AppData\Local\Temp\34\ipykernel_2304\2861086168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_df.rename(columns={'Id': 'TimeId'}, inplace=True)

In [120]:
list(time_df['EmpId'].unique())

['001008241-JAV8Y',
 '001008157-JAV8Y',
 '001008104-JAV8Y',
 '001003230-JAV8Y',
 '001008228-JAV8Y',
 '001008030-JAV8Y',
 '001002095-JAV8Y',
 '001005341-JAV8Y',
 '001006086-JAV8Y',
 '001008553-JAV8Y',
 '001006792-JAV8Y',
 '001001159-JAV8Y',
 '001002837-JAV8Y',
 '000260088-JAV8Y',
 '001008368-JAV8Y',
 '001007601-JAV8Y',
 '001008094-JAV8Y',
 '001008532-JAV8Y',
 '001008714-JAV8Y',
 '001007072-JAV8Y',
 '001003759-JAV8Y',
 '001005981-JAV8Y',
 '001008580-JAV8Y',
 '001006117-JAV8Y',
 '001008165-JAV8Y',
 '001003678-JAV8Y',
 '001008490-JAV8Y',
 '001000888-JAV8Y',
 '001008357-JAV8Y',
 '001006888-JAV8Y',
 '001004923-JAV8Y',
 '001004701-JAV8Y',
 '001003570-JAV8Y',
 '001008471-JAV8Y',
 '001006333-JAV8Y',
 '001008589-JAV8Y',
 '001001511-JAV8Y',
 '001002020-JAV8Y',
 '001008066-JAV8Y',
 '001006501-JAV8Y',
 '000310312-JAV8Y',
 '001003523-JAV8Y',
 '001001650-JAV8Y',
 '001005922-JAV8Y',
 '000121060-JAV8Y',
 '001003635-JAV8Y',
 '001008680-JAV8Y',
 '000121023-JAV8Y',
 '000060070-JAV8Y',
 '001007241-JAV8Y',
 '001007517-JAV8Y',
 '001003330-JAV8Y',
 '001002455-JAV8Y',
 '001005379-JAV8Y',
 '001007591-JAV8Y',
 '001004238-JAV8Y',
 '001007865-JAV8Y',
 '001005556-JAV8Y',
 '001007511-JAV8Y',
 '001004780-JAV8Y',
 '001008674-JAV8Y',
 '001008050-JAV8Y',
 '001003604-JAV8Y',
 '001005916-JAV8Y',
 '001008212-JAV8Y',
 '001007924-JAV8Y',
 '001007214-JAV8Y',
 '001008391-JAV8Y',
 '001001901-JAV8Y',
 '001007998-JAV8Y',
 '000850024-JAV8Y',
 '001004983-JAV8Y',
 '001004347-JAV8Y',
 '000270015-JAV8Y',
 '001007922-JAV8Y',
 '001002086-JAV8Y',
 '001007233-JAV8Y',
 '001004768-JAV8Y',
 '001007764-JAV8Y',
 '001008423-JAV8Y',
 '001008578-JAV8Y',
 '000280248-JAV8Y',
 '001005999-JAV8Y',
 '001007699-JAV8Y',
 '001008446-JAV8Y',
 '001004189-JAV8Y',
 '001004001-JAV8Y',
 '001007495-JAV8Y',
 '001008056-JAV8Y',
 '001007614-JAV8Y',
 '001004576-JAV8Y',
 '001007787-JAV8Y',
 '001008227-JAV8Y',
 '001003795-JAV8Y',
 '001001454-JAV8Y',
 '001001235-JAV8Y',
 '001001012-JAV8Y',
 '000320056-JAV8Y',
 '001008546-JAV8Y',
 '001005275-JAV8Y',
 '001006949-JAV8Y',
 '001005225-JAV8Y',
 '001008760-JAV8Y',
 '001007419-JAV8Y',
 '001006574-JAV8Y',
 '001004691-JAV8Y',
 '001007864-JAV8Y',
 '001006114-JAV8Y',
 '001007957-JAV8Y',
 '001001185-JAV8Y',
 '001001009-JAV8Y',
 '001004172-JAV8Y',
 '001006477-JAV8Y',
 '001003539-JAV8Y',
 '001006500-JAV8Y',
 '001005940-JAV8Y',
 '001001611-JAV8Y',
 '001006480-JAV8Y',
 '001006096-JAV8Y',
 '001003329-JAV8Y',
 '001008352-JAV8Y',
 '001001405-JAV8Y',
 '001000620-JAV8Y',
 '001008383-JAV8Y',
 '001008661-JAV8Y',
 '001006201-JAV8Y',
 '001008747-JAV8Y',
 '001006778-JAV8Y',
 '001008149-JAV8Y',
 '001007788-JAV8Y',
 '001008044-JAV8Y',
 '001008410-JAV8Y',
 '001007074-JAV8Y',
 '001008346-JAV8Y',
 '001002336-JAV8Y',
 '001002797-JAV8Y',
 '001007003-JAV8Y',
 '001002282-JAV8Y',
 '001006394-JAV8Y',
 '001002279-JAV8Y',
 '001007662-JAV8Y',
 '001008220-JAV8Y',
 '001008339-JAV8Y',
 '001008527-JAV8Y',
 '001008259-JAV8Y',
 '001008547-JAV8Y',
 '001006445-JAV8Y',
 '001002712-JAV8Y',
 '001006973-JAV8Y',
 '001007306-JAV8Y',
 '001000900-JAV8Y',
 '001003844-JAV8Y',
 '001005892-JAV8Y',
 '001008186-JAV8Y',
 '001002466-JAV8Y',
 '001005392-JAV8Y',
 '001000043-JAV8Y',
 '001004421-JAV8Y',
 '001000394-JAV8Y',
 '001008384-JAV8Y',
 '001004110-JAV8Y',
 '001003199-JAV8Y',
 '001000566-JAV8Y',
 '001008190-JAV8Y',
 '001001258-JAV8Y',
 '001006482-JAV8Y',
 '000192164-JAV8Y',
 '001005012-JAV8Y',
 '001007220-JAV8Y',
 '001003850-JAV8Y',
 '001007159-JAV8Y',
 '001005955-JAV8Y',
 '001006309-JAV8Y',
 '001008569-JAV8Y',
 '001000921-JAV8Y',
 '001002548-JAV8Y',
 '001002462-JAV8Y',
 '001000332-JAV8Y',
 '001008311-JAV8Y',
 '001002028-JAV8Y',
 '001008506-JAV8Y',
 '001005454-JAV8Y',
 '000160001-JAV8Y',
 '001005414-JAV8Y',
 '001008431-JAV8Y',
 '001006834-JAV8Y',
 '001007923-JAV8Y',
 '001005382-JAV8Y',
 '001000498-JAV8Y',
 '000040015-JAV8Y',
 '001008734-JAV8Y',
 '001008054-JAV8Y',
 '001003458-JAV8Y',
 '001002329-JAV8Y',
 '001002185-JAV8Y',
 '001002975-JAV8Y',
 '001004199-JAV8Y',
 '001008013-JAV8Y',
 '001008271-JAV8Y',
 '001007549-JAV8Y',
 '001008194-JAV8Y',
 '001008378-JAV8Y',
 '001008071-JAV8Y',
 '001003518-JAV8Y',
 '001007692-JAV8Y',
 '001008114-JAV8Y',
 '001003988-JAV8Y',
 '001008207-JAV8Y',
 '001007152-JAV8Y',
 '001007658-JAV8Y',
 '001007296-JAV8Y',
 '001008412-JAV8Y',
 '001002691-JAV8Y',
 '001003589-JAV8Y',
 '000060080-JAV8Y',
 '001006681-JAV8Y',
 '001008209-JAV8Y',
 '001008174-JAV8Y',
 '001003127-JAV8Y',
 '001007859-JAV8Y',
 '001008502-JAV8Y',
 '001007693-JAV8Y',
 '001007968-JAV8Y',
 '001005084-JAV8Y',
 '001008673-JAV8Y',
 '001008678-JAV8Y',
 '001008769-JAV8Y',
 '001008529-JAV8Y',
 '001007991-JAV8Y',
 '001006376-JAV8Y',
 '001006961-JAV8Y',
 '001008470-JAV8Y',
 '001006161-JAV8Y',
 '001008363-JAV8Y',
 '001008458-JAV8Y',
 '001007988-JAV8Y',
 '000192217-JAV8Y',
 '001007485-JAV8Y',
 '001008347-JAV8Y',
 '001008606-JAV8Y',
 '001005615-JAV8Y',
 '001007860-JAV8Y',
 '000190017-JAV8Y',
 '001007514-JAV8Y',
 '001007090-JAV8Y',
 '001001200-JAV8Y',
 '001002358-JAV8Y',
 '001006193-JAV8Y',
 '001006303-JAV8Y',
 '001007413-JAV8Y',
 '001008285-JAV8Y',
 '001001571-JAV8Y',
 '001008181-JAV8Y',
 '001008314-JAV8Y',
 '001000765-JAV8Y',
 '001002985-JAV8Y',
 '001007039-JAV8Y',
 '001002631-JAV8Y',
 '001001787-JAV8Y',
 '001002283-JAV8Y',
 '001006998-JAV8Y',
 '001007637-JAV8Y',
 '001008045-JAV8Y',
 '001008660-JAV8Y',
 '001003071-JAV8Y',
 '001007802-JAV8Y',
 '001006711-JAV8Y',
 '001007467-JAV8Y',
 '001003456-JAV8Y',
 '001007749-JAV8Y',
 '001007828-JAV8Y',
 '001007670-JAV8Y',
 '001005506-JAV8Y',
 '001007020-JAV8Y',
 '001008749-JAV8Y',
 '001007580-JAV8Y',
 '001008330-JAV8Y',
 '001008334-JAV8Y',
 '001008750-JAV8Y',
 '001007843-JAV8Y',
 '001003216-JAV8Y',
 '001003837-JAV8Y',
 '001005764-JAV8Y',
 '001006844-JAV8Y',
 '001004170-JAV8Y',
 '001003466-JAV8Y',
 '001008514-JAV8Y',
 '001002044-JAV8Y',
 '001006503-JAV8Y',
 '001008042-JAV8Y',
 '001006292-JAV8Y',
 '001007585-JAV8Y',
 '001007566-JAV8Y',
 '001008641-JAV8Y',
 '001000672-JAV8Y',
 '001004873-JAV8Y',
 '001008258-JAV8Y',
 '001007785-JAV8Y',
 '001008647-JAV8Y',
 '001002383-JAV8Y',
 '001008709-JAV8Y',
 '001004868-JAV8Y',
 '001005866-JAV8Y',
 '001004255-JAV8Y',
 '001002304-JAV8Y',
 '001008519-JAV8Y',
 '001006243-JAV8Y',
 '001007448-JAV8Y',
 '000720017-JAV8Y',
 '001008398-JAV8Y',
 '001007195-JAV8Y',
 '000280010-JAV8Y',
 '001008041-JAV8Y',
 '001008105-JAV8Y',
 '001002534-JAV8Y',
 '001001413-JAV8Y',
 '001000270-JAV8Y',
 '000280020-JAV8Y',
 '001008188-JAV8Y',
 '001005331-JAV8Y',
 '001005329-JAV8Y',
 '001008155-JAV8Y',
 '001006960-JAV8Y',
 '001008100-JAV8Y',
 '001000592-JAV8Y',
 '001008710-JAV8Y',
 '000510002-JAV8Y',
 '001008742-JAV8Y',
 '001007046-JAV8Y',
 '001000538-JAV8Y',
 '001008210-JAV8Y',
 '001008718-JAV8Y',
 '001003264-JAV8Y',
 '001007009-JAV8Y',
 '001008293-JAV8Y',
 '001004763-JAV8Y',
 '001006713-JAV8Y',
 '001006282-JAV8Y',
 '001001384-JAV8Y',
 '001007739-JAV8Y',
 '001005316-JAV8Y',
 '001007547-JAV8Y',
 '001008414-JAV8Y',
 '001002750-JAV8Y',
 '000150067-JAV8Y',
 '001008676-JAV8Y',
 '001004072-JAV8Y',
 '001006401-JAV8Y',
 '001008438-JAV8Y',
 '001008453-JAV8Y',
 '001007698-JAV8Y',
 '001008008-JAV8Y',
 '001008639-JAV8Y',
 '001002359-JAV8Y',
 '001007827-JAV8Y',
 '001007293-JAV8Y',
 '001008688-JAV8Y',
 '001008704-JAV8Y',
 '001006295-JAV8Y',
 '001007190-JAV8Y',
 '001008079-JAV8Y',
 '001001990-JAV8Y',
 '001008696-JAV8Y',
 '001008562-JAV8Y',
 '001008636-JAV8Y',
 '001007916-JAV8Y',
 '001004108-JAV8Y',
 '001007551-JAV8Y',
 '001008183-JAV8Y',
 '001006016-JAV8Y',
 '000280041-JAV8Y',
 '001008670-JAV8Y',
 '001005332-JAV8Y',
 '001007359-JAV8Y',
 '001002598-JAV8Y',
 '001008408-JAV8Y',
 '001007973-JAV8Y',
 '001004600-JAV8Y',
 '001008516-JAV8Y',
 '001004952-JAV8Y',
 '001007760-JAV8Y',
 '001006076-JAV8Y',
 '001005351-JAV8Y',
 '001007006-JAV8Y',
 '001006425-JAV8Y',
 '001007702-JAV8Y',
 '001008172-JAV8Y',
 '001007118-JAV8Y',
 '001007850-JAV8Y',
 '001004423-JAV8Y',
 '001002330-JAV8Y',
 '001007330-JAV8Y',
 '001007488-JAV8Y',
 '001000903-JAV8Y',
 '001004938-JAV8Y',
 '001008521-JAV8Y',
 '001002795-JAV8Y',
 '001008581-JAV8Y',
 '001000041-JAV8Y',
 '001002424-JAV8Y',
 '001007925-JAV8Y',
 '001007808-JAV8Y',
 '001000302-JAV8Y',
 '001000385-JAV8Y',
 '001001051-JAV8Y',
 '001008515-JAV8Y',
 '000060063-JAV8Y',
 '001006970-JAV8Y',
 '001007134-JAV8Y',
 '001007667-JAV8Y',
 '001007309-JAV8Y',
 '001008480-JAV8Y',
 '001006552-JAV8Y',
 '000540005-JAV8Y',
 '001004795-JAV8Y',
 '001002882-JAV8Y',
 '001005800-JAV8Y',
 '001005514-JAV8Y',
 '001001377-JAV8Y',
 '001008139-JAV8Y',
 '001003494-JAV8Y',
 '001007655-JAV8Y',
 '001008511-JAV8Y',
 '001008575-JAV8Y',
 '001008459-JAV8Y',
 '001008677-JAV8Y',
 '001006598-JAV8Y',
 '001008512-JAV8Y',
 '001004876-JAV8Y',
 '001005612-JAV8Y',
 '001005150-JAV8Y',
 '001005582-JAV8Y',
 '001008164-JAV8Y',
 '001005711-JAV8Y',
 '001006885-JAV8Y',
 '001005526-JAV8Y',
 '001005340-JAV8Y',
 '001008322-JAV8Y',
 '001008400-JAV8Y',
 '001008501-JAV8Y',
 '001008047-JAV8Y',
 '001007866-JAV8Y',
 '001006990-JAV8Y',
 '001006165-JAV8Y',
 '001007839-JAV8Y',
 '001008180-JAV8Y',
 '001008491-JAV8Y',
 '001008109-JAV8Y',
 '001007833-JAV8Y',
 '001003311-JAV8Y',
 '001008764-JAV8Y',
 '001006208-JAV8Y',
 '001003332-JAV8Y',
 '001002851-JAV8Y',
 '001006768-JAV8Y',
 '001004287-JAV8Y',
 '001006504-JAV8Y',
 '001008002-JAV8Y',
 '001008432-JAV8Y',
 '001001074-JAV8Y',
 '001004870-JAV8Y',
 '001005679-JAV8Y',
 '001007801-JAV8Y',
 '001002289-JAV8Y',
 '001000398-JAV8Y',
 '001004425-JAV8Y',
 '001005567-JAV8Y',
 '000060124-JAV8Y',
 '001008349-JAV8Y',
 '001000105-JAV8Y',
 '001006366-JAV8Y',
 '001007245-JAV8Y',
 '001008282-JAV8Y',
 '001005168-JAV8Y',
 '001008439-JAV8Y',
 '001008375-JAV8Y',
 '001008468-JAV8Y',
 '000310031-JAV8Y',
 '001002724-JAV8Y',
 '001007903-JAV8Y',
 '001000549-JAV8Y',
 '001004489-JAV8Y',
 '001008626-JAV8Y',
 '001006930-JAV8Y',
 '001008472-JAV8Y',
 '001002859-JAV8Y',
 '001008221-JAV8Y',
 '001005127-JAV8Y',
 '001002897-JAV8Y',
 '001007343-JAV8Y',
 '001003150-JAV8Y',
 '001007045-JAV8Y',
 '001005858-JAV8Y',
 '001006791-JAV8Y',
 '000100032-JAV8Y',
 '000120048-JAV8Y',
 '001007324-JAV8Y',
 '001007418-JAV8Y',
 '001000184-JAV8Y',
 '001008249-JAV8Y',
 '001007902-JAV8Y',
 '001007149-JAV8Y',
 '001008520-JAV8Y',
 '001003855-JAV8Y',
 '001008419-JAV8Y',
 '001007049-JAV8Y',
 '001008663-JAV8Y',
 '001007188-JAV8Y',
 '001007543-JAV8Y',
 '001005438-JAV8Y',
 '001008629-JAV8Y',
 '001007008-JAV8Y',
 '001003664-JAV8Y',
 '001008461-JAV8Y',
 '001007086-JAV8Y',
 '001002752-JAV8Y',
 '001007342-JAV8Y',
 '001000539-JAV8Y',
 '001008608-JAV8Y',
 '001008304-JAV8Y',
 '001006963-JAV8Y',
 '001001206-JAV8Y',
 '001008359-JAV8Y',
 '001007186-JAV8Y',
 '001007605-JAV8Y',
 '001005847-JAV8Y',
 '001003266-JAV8Y',
 '001007908-JAV8Y',
 '001007362-JAV8Y',
 '001008406-JAV8Y',
 '001002288-JAV8Y',
 '001004204-JAV8Y',
 '001003740-JAV8Y',
 '001006430-JAV8Y',
 '001008022-JAV8Y',
 '000280314-JAV8Y',
 '001004548-JAV8Y',
 '001006652-JAV8Y',
 '001002922-JAV8Y',
 '001008445-JAV8Y',
 '001008548-JAV8Y',
 '001008567-JAV8Y',
 '001008740-JAV8Y',
 '001005752-JAV8Y',
 '001004532-JAV8Y',
 '001008213-JAV8Y',
 '001008554-JAV8Y',
 '001008356-JAV8Y',
 '001000748-JAV8Y',
 '001002906-JAV8Y',
 '001007204-JAV8Y',
 '001008653-JAV8Y',
 '001003994-JAV8Y',
 '001000776-JAV8Y',
 '001007412-JAV8Y',
 '001008525-JAV8Y',
 '001001835-JAV8Y',
 '001007126-JAV8Y',
 '000280315-JAV8Y',
 '001002055-JAV8Y',
 '001004753-JAV8Y',
 '001008773-JAV8Y',
 '001002382-JAV8Y',
 '001008411-JAV8Y',
 '001008658-JAV8Y',
 '001007523-JAV8Y',
 '001008106-JAV8Y',
 '001008420-JAV8Y',
 '001001401-JAV8Y',
 '001008170-JAV8Y',
 '001008654-JAV8Y',
 '001008711-JAV8Y',
 '001008522-JAV8Y',
 '001007613-JAV8Y',
 '001005145-JAV8Y',
 '001008145-JAV8Y',
 '001006622-JAV8Y',
 '001004647-JAV8Y',
 '001000164-JAV8Y',
 '001001308-JAV8Y',
 '001008577-JAV8Y',
 '001008584-JAV8Y',
 '001005912-JAV8Y',
 '001003512-JAV8Y',
 '001004146-JAV8Y',
 '001007235-JAV8Y',
 '001008759-JAV8Y',
 '001007417-JAV8Y',
 '001006251-JAV8Y',
 '001005377-JAV8Y',
 '001008111-JAV8Y',
 '000060056-JAV8Y',
 '001004919-JAV8Y',
 '001008686-JAV8Y',
 '001000227-JAV8Y',
 '001008508-JAV8Y',
 '001008668-JAV8Y',
 '001004828-JAV8Y',
 '001007961-JAV8Y',
 '000280247-JAV8Y',
 '001008701-JAV8Y',
 '001007546-JAV8Y',
 '001006110-JAV8Y',
 '001007979-JAV8Y',
 '001006230-JAV8Y',
 '001008005-JAV8Y',
 '001008376-JAV8Y',
 '001003062-JAV8Y',
 '001008610-JAV8Y',
 '001008643-JAV8Y',
 '000090076-JAV8Y',
 '001003054-JAV8Y',
 '001006863-JAV8Y',
 '001008120-JAV8Y',
 '001008493-JAV8Y',
 '001008184-JAV8Y',
 '001008751-JAV8Y',
 '001008250-JAV8Y',
 '001004298-JAV8Y',
 '001000436-JAV8Y',
 '001008664-JAV8Y',
 '001003503-JAV8Y',
 '001006140-JAV8Y',
 '001008531-JAV8Y',
 '001004838-JAV8Y',
 '001003995-JAV8Y',
 '001008235-JAV8Y',
 '001006483-JAV8Y',
 '001007999-JAV8Y',
 '001007982-JAV8Y',
 '001004643-JAV8Y',
 '000280200-JAV8Y',
 '001005207-JAV8Y',
 '001008558-JAV8Y',
 '001005174-JAV8Y',
 '001008198-JAV8Y',
 '001007793-JAV8Y',
 '001008331-JAV8Y',
 '001006322-JAV8Y',
 '001007607-JAV8Y',
 '001006038-JAV8Y',
 '001007100-JAV8Y',
 '001008736-JAV8Y',
 '001008402-JAV8Y',
 '001007402-JAV8Y',
 '001008146-JAV8Y',
 '001000489-JAV8Y',
 '001006783-JAV8Y',
 '001007404-JAV8Y',
 '001008683-JAV8Y',
 '001007507-JAV8Y',
 '001008782-JAV8Y',
 '001007984-JAV8Y',
 '001005348-JAV8Y',
 '001008448-JAV8Y',
 '001008251-JAV8Y',
 '001006765-JAV8Y',
 '001004249-JAV8Y',
 '001001521-JAV8Y',
 '001008080-JAV8Y',
 '001008766-JAV8Y',
 '001008342-JAV8Y',
 '001007085-JAV8Y',
 '001008099-JAV8Y',
 '001001014-JAV8Y',
 '001004653-JAV8Y',
 '001003958-JAV8Y',
 '000280299-JAV8Y',
 '001006618-JAV8Y',
 '001008526-JAV8Y',
 '001007773-JAV8Y',
 '001007722-JAV8Y',
 '001001620-JAV8Y',
 '001008462-JAV8Y',
 '001005034-JAV8Y',
 '001006005-JAV8Y',
 '001008596-JAV8Y',
 '001008048-JAV8Y',
 '001001410-JAV8Y',
 '001000885-JAV8Y',
 '001007883-JAV8Y',
 '001005443-JAV8Y',
 '001008033-JAV8Y',
 '001002436-JAV8Y',
 '001006465-JAV8Y',
 '001007030-JAV8Y',
 '001008289-JAV8Y',
 '001008523-JAV8Y',
 '001005118-JAV8Y',
 '001007288-JAV8Y',
 '001004441-JAV8Y',
 '001008321-JAV8Y',
 '001003473-JAV8Y',
 '001002364-JAV8Y',
 '000190113-JAV8Y',
 '001005686-JAV8Y',
 '001006914-JAV8Y',
 '001008166-JAV8Y',
 '001003198-JAV8Y',
 '001008587-JAV8Y',
 '001007629-JAV8Y',
 '001008244-JAV8Y',
 '001002589-JAV8Y',
 '001008576-JAV8Y',
 '001005549-JAV8Y',
 '001006836-JAV8Y',
 '001006604-JAV8Y',
 '001005906-JAV8Y',
 '001008366-JAV8Y',
 '001007144-JAV8Y',
 '001008543-JAV8Y',
 '001008233-JAV8Y',
 '001002301-JAV8Y',
 '001007489-JAV8Y',
 '001005032-JAV8Y',
 '001008539-JAV8Y',
 '001004093-JAV8Y',
 '001004997-JAV8Y',
 '001008623-JAV8Y',
 '001006905-JAV8Y',
 '001003076-JAV8Y',
 '001008125-JAV8Y',
 '001006725-JAV8Y',
 '001002275-JAV8Y',
 '001005268-JAV8Y',
 '001008162-JAV8Y',
 '001008102-JAV8Y',
 '001008215-JAV8Y',
 '001008744-JAV8Y',
 '001004513-JAV8Y',
 '001001520-JAV8Y',
 '001003893-JAV8Y',
 '001008247-JAV8Y',
 '001008517-JAV8Y',
 '001008444-JAV8Y',
 '000280070-JAV8Y',
 '000060009-JAV8Y',
 '001001653-JAV8Y',
 '001003346-JAV8Y',
 '001008266-JAV8Y',
 '001001598-JAV8Y',
 '001004928-JAV8Y',
 '001001363-JAV8Y',
 '001007158-JAV8Y',
 '001008192-JAV8Y',
 '001005040-JAV8Y',
 '001007932-JAV8Y',
 '001007958-JAV8Y',
 '001004388-JAV8Y',
 '001005872-JAV8Y',
 '000121058-JAV8Y',
 '001002987-JAV8Y',
 '001004226-JAV8Y',
 '001007779-JAV8Y',
 '001003499-JAV8Y',
 '001008727-JAV8Y',
 '001005656-JAV8Y',
 '001003423-JAV8Y',
 '001007175-JAV8Y',
 '001008550-JAV8Y',
 '001005715-JAV8Y',
 '001000589-JAV8Y',
 '001007679-JAV8Y',
 '001008482-JAV8Y',
 '001002656-JAV8Y',
 '001002190-JAV8Y',
 '001007830-JAV8Y',
 '001008655-JAV8Y',
 '001000257-JAV8Y',
 '001008151-JAV8Y',
 '001006331-JAV8Y',
 '001003134-JAV8Y',
 '001007542-JAV8Y',
 '001003534-JAV8Y',
 '001003710-JAV8Y',
 '001005719-JAV8Y',
 '001008237-JAV8Y',
 '001002686-JAV8Y',
 '001005175-JAV8Y',
 '001008622-JAV8Y',
 '001004355-JAV8Y',
 '001008203-JAV8Y',
 '001007631-JAV8Y',
 '001007915-JAV8Y',
 '001005157-JAV8Y',
 '001001355-JAV8Y',
 '001006271-JAV8Y',
 '001008067-JAV8Y',
 '001008456-JAV8Y',
 '001008034-JAV8Y',
 '001005540-JAV8Y',
 '001006199-JAV8Y',
 '001004554-JAV8Y',
 '001003502-JAV8Y',
 '001007909-JAV8Y',
 '001008142-JAV8Y',
 '001000084-JAV8Y',
 '001006127-JAV8Y',
 '001003694-JAV8Y',
 '001008024-JAV8Y',
 '001007104-JAV8Y',
 '001008648-JAV8Y',
 '001005773-JAV8Y',
 '001002769-JAV8Y',
 '001004171-JAV8Y',
 '001002468-JAV8Y',
 '001004241-JAV8Y',
 '001006505-JAV8Y',
 '001002709-JAV8Y',
 '001003246-JAV8Y',
 '001004965-JAV8Y',
 '001004281-JAV8Y',
 '001006177-JAV8Y',
 '001008454-JAV8Y',
 '001007478-JAV8Y',
 '000280368-JAV8Y',
 '001006116-JAV8Y',
 '001007581-JAV8Y',
 '001002394-JAV8Y',
 '001006378-JAV8Y',
 '001004640-JAV8Y',
 '001008573-JAV8Y',
 '000280373-JAV8Y',
 '001001236-JAV8Y',
 '001007731-JAV8Y',
 '001007952-JAV8Y',
 '001004165-JAV8Y',
 '001008659-JAV8Y',
 '001002982-JAV8Y',
 '001008211-JAV8Y',
 '001008628-JAV8Y',
 '001008630-JAV8Y',
 '001008725-JAV8Y',
 '001007738-JAV8Y',
 '001005826-JAV8Y',
 '001006696-JAV8Y',
 '001008222-JAV8Y',
 '001005048-JAV8Y',
 '001001655-JAV8Y',
 '001001404-JAV8Y',
 '001007986-JAV8Y',
 '001008191-JAV8Y',
 '001008012-JAV8Y',
 '001007429-JAV8Y',
 '001007097-JAV8Y',
 '001006360-JAV8Y',
 '001007621-JAV8Y',
 '001000492-JAV8Y',
 '001006643-JAV8Y',
 '000280039-JAV8Y',
 '001008730-JAV8Y',
 '001002817-JAV8Y',
 '001001242-JAV8Y',
 '001004612-JAV8Y',
 '000150023-JAV8Y',
 '000000273-JAV8Y',
 '001002602-JAV8Y',
 '001008775-JAV8Y',
 '001008675-JAV8Y',
 '001006508-JAV8Y',
 '001003760-JAV8Y',
 '000070114-JAV8Y',
 '001008317-JAV8Y',
 '001006039-JAV8Y',
 '001008640-JAV8Y',
 '001007513-JAV8Y',
 '001008246-JAV8Y',
 '001000069-JAV8Y',
 '001007422-JAV8Y',
 '001007759-JAV8Y',
 '001007565-JAV8Y',
 '001007789-JAV8Y',
 '000040012-JAV8Y',
 '001002693-JAV8Y',
 '001008754-JAV8Y',
 '001007146-JAV8Y',
 '001008650-JAV8Y',
 '001007694-JAV8Y',
 '001001766-JAV8Y',
 '001007234-JAV8Y',
 '001006073-JAV8Y',
 '001001506-JAV8Y',
 '001001032-JAV8Y',
 '001006444-JAV8Y',
 '001007559-JAV8Y',
 '001004268-JAV8Y',
 '001007239-JAV8Y',
 '001007823-JAV8Y',
 '001004085-JAV8Y',
 '001007746-JAV8Y',
 '001006749-JAV8Y',
 '001008689-JAV8Y',
 '001008443-JAV8Y',
 '001007914-JAV8Y',
 '001008733-JAV8Y',
 '001008035-JAV8Y',
 '000520010-JAV8Y',
 '001006087-JAV8Y',
 '001004351-JAV8Y',
 '001006926-JAV8Y',
 '001002427-JAV8Y',
 '001008060-JAV8Y',
 '001007654-JAV8Y',
 '001007822-JAV8Y',
 '001004428-JAV8Y',
 '001008234-JAV8Y',
 '001008069-JAV8Y',
 '001002410-JAV8Y',
 '001005274-JAV8Y',
 '001004497-JAV8Y',
 '001004286-JAV8Y',
 '001007156-JAV8Y',
 '001007799-JAV8Y',
 '001008113-JAV8Y',
 '001007067-JAV8Y',
 '001006748-JAV8Y',
 '001004340-JAV8Y',
 '001005863-JAV8Y',
 '001003997-JAV8Y',
 '001008171-JAV8Y',
 '001005074-JAV8Y',
 '001007875-JAV8Y',
 '001008442-JAV8Y',
 '001005774-JAV8Y',
 '001004460-JAV8Y',
 '001008390-JAV8Y',
 '001002340-JAV8Y',
 '001007842-JAV8Y',
 '001007406-JAV8Y',
 '001007960-JAV8Y',
 '001006506-JAV8Y',
 '001006518-JAV8Y',
 '001006186-JAV8Y',
 '001000670-JAV8Y',
 '001008436-JAV8Y',
 '001003428-JAV8Y',
 '001008290-JAV8Y',
 '001004877-JAV8Y',
 '001008777-JAV8Y',
 '001006566-JAV8Y',
 '001002898-JAV8Y',
 '001004652-JAV8Y',
 '001007695-JAV8Y',
 '001008004-JAV8Y',
 '001006007-JAV8Y',
 '001008739-JAV8Y',
 '001000525-JAV8Y',
 '001006120-JAV8Y',
 '001004827-JAV8Y',
 '001006290-JAV8Y',
 '001007985-JAV8Y',
 '001008708-JAV8Y',
 '001004210-JAV8Y',
 '001007673-JAV8Y',
 '001007318-JAV8Y',
 '001008268-JAV8Y',
 '001005021-JAV8Y',
 '000280290-JAV8Y',
 '001006511-JAV8Y',
 '001007946-JAV8Y',
 '001008600-JAV8Y',
 '001000082-JAV8Y',
 '001005622-JAV8Y',
 '001008103-JAV8Y',
 '001007912-JAV8Y',
 '001004285-JAV8Y',
 '001007669-JAV8Y',
 '001006528-JAV8Y',
 '001007668-JAV8Y',
 '000570008-JAV8Y',
 '001008466-JAV8Y',
 '001005609-JAV8Y',
 '001007172-JAV8Y',
 '001008367-JAV8Y',
 '001006951-JAV8Y',
 '001000717-JAV8Y',
 '001008642-JAV8Y',
 '001005311-JAV8Y',
 '001008620-JAV8Y',
 '001007398-JAV8Y',
 '001005962-JAV8Y',
 '001008340-JAV8Y',
 '001008288-JAV8Y',
 '001003972-JAV8Y',
 '001008422-JAV8Y',
 '001005070-JAV8Y',
 '001007574-JAV8Y',
 '001008720-JAV8Y',
 '000310276-JAV8Y',
 '001008353-JAV8Y',
 '001008299-JAV8Y',
 '001004417-JAV8Y',
 '001008765-JAV8Y',
 '000280319-JAV8Y',
 '001008371-JAV8Y',
 '001007494-JAV8Y',
 '001008743-JAV8Y',
 '001004206-JAV8Y',
 '001007752-JAV8Y',
 '001007747-JAV8Y',

In [121]:
#Create a short and long emp id column. We will use the short id column for the merge and then drop it later

time_df['ShortEmpId'] = time_df['EmpId'].apply(lambda x: str(x)[5:9])
time_df['LongEmpId'] = time_df['EmpId'].apply(lambda x: str(x)[0:9])

time_df

C:\Users\SQLadmin\AppData\Local\Temp\34\ipykernel_2304\1795875429.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_df['ShortEmpId'] = time_df['EmpId'].apply(lambda x: str(x)[5:9])
C:\Users\SQLadmin\AppData\Local\Temp\34\ipykernel_2304\1795875429.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_df['LongEmpId'] = time_df['EmpId'].apply(lambda x: str(x)[0:9])

,EmpId,WorkDate,RegHr,Overt1,Overt2,Overt3,Overt4,Overt5,In,Out,TimeId,ShortEmpId,LongEmpId
0,001008241-JAV8Y,2023-03-02,4.9833,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T18:30:00-05:00,8031137,8241,001008241
1,001008157-JAV8Y,2023-03-02,3.5000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,8031138,8157,001008157
2,001008104-JAV8Y,2023-03-02,3.3000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T16:49:00-05:00,8031139,8104,001008104
3,001003230-JAV8Y,2023-03-02,4.1000,0.0,0.0,0.0,0.0,0.0,2023-03-02T14:34:00-05:00,2023-03-02T18:40:00-05:00,8031140,3230,001003230
4,001008228-JAV8Y,2023-03-02,3.5000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,8031141,8228,001008228
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48693,001007866-JAV8Y,2023-03-29,5.6000,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:55:00-04:00,2023-03-29T17:31:00-04:00,8094655,7866,001007866
48694,001004423-JAV8Y,2023-03-29,5.1000,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:56:00-04:00,2023-03-29T17:02:00-04:00,8094656,4423,001004423
48695,001004763-JAV8Y,2023-03-29,1.9667,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:56:00-04:00,2023-03-29T13:54:00-04:00,8094657,4763,001004763
48696,000280161-JAV8Y,2023-03-29,4.5500,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:57:00-04:00,2023-03-29T16:30:00-04:00,8094658,0161,000280161
48697,001002598-JAV8Y,2023-03-29,3.0333,0.0,0.0,0.0,0.0,0.0,2023-03-29T11:57:00-04:00,2023-03-29T14:59:00-04:00,8094659,2598,001002598

## Bring in the timesheet endpoint

In [122]:
#Bring in the timesheet endpoint to get the pay period
url="https://kN21.ultipro.com/UtmOdataServices/api/Timesheet?$filter=year(Starts) eq " + year + " and month(Starts) eq " + month
#Our username and password for the API authentication
username = "znarkin"
password = "page!i)yCI5-Y26o}7i("


#The response variable
response2 = requests.get(url, auth=HTTPBasicAuth(username, password))

In [123]:
data2 = response2.json()
#data2

In [124]:
timesheet_df = pd.DataFrame(data2['value'])
timesheet_df

,Id,EmployeeId,Starts,Ends,MissPunch,Tardy,SchHr,RegHr,Ot1,Ot2,...,NoMeal,Overtime,ShortWkDay,AppPunch,AuthOt,PaidBrk,MlPremCnt,MlPremWav,BkPremCnt,BkPremWav
0,523596,1289,2023-03-12T00:00:00-05:00,2023-03-25T00:00:00-04:00,0,0,0.0,80.0001,4.9166,0.0,...,3,4.92,0,19.0,0.0,0,0,0,0,0
1,524132,5432,2023-03-12T00:00:00-05:00,2023-03-25T00:00:00-04:00,0,0,0.0,80.0000,4.6332,0.0,...,1,4.63,0,20.0,0.0,0,0,0,0,0
2,525700,246,2023-03-12T00:00:00-05:00,2023-03-25T00:00:00-04:00,0,0,0.0,66.5335,0.0000,0.0,...,0,0.00,0,17.0,0.0,0,0,0,0,0
3,527699,2288,2023-03-12T00:00:00-05:00,2023-03-25T00:00:00-04:00,0,0,0.0,80.0000,1.6168,0.0,...,0,1.62,0,15.0,0.0,0,0,0,0,0
4,527805,6581,2023-03-12T00:00:00-05:00,2023-03-25T00:00:00-04:00,0,0,0.0,0.0000,0.0000,0.0,...,0,0.00,0,1.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155,556845,7672,2023-03-26T00:00:00-04:00,2023-04-08T00:00:00-04:00,0,0,0.0,0.0000,0.0000,0.0,...,0,0.00,0,0.0,0.0,0,0,0,0,0
4156,556867,7669,2023-03-12T00:00:00-05:00,2023-03-25T00:00:00-04:00,0,0,0.0,0.0000,0.0000,0.0,...,0,0.00,0,0.0,0.0,0,0,0,0,0
4157,556914,4341,2023-03-26T00:00:00-04:00,2023-04-08T00:00:00-04:00,0,0,0.0,0.0000,0.0000,0.0,...,0,0.00,0,0.0,0.0,0,0,0,0,0
4158,556977,7673,2023-03-26T00:00:00-04:00,2023-04-08T00:00:00-04:00,0,0,0.0,0.0000,0.0000,0.0,...,0,0.00,0,0.0,0.0,0,0,0,0,0
4159,556980,7674,2023-03-26T00:00:00-04:00,2023-04-08T00:00:00-04:00,0,0,0.0,0.0000,0.0000,0.0,...,0,0.00,0,0.0,0.0,0,0,0,0,0

In [125]:
timesheet_df.columns

Index(['Id', 'EmployeeId', 'Starts', 'Ends', 'MissPunch', 'Tardy', 'SchHr',
       'RegHr', 'Ot1', 'Ot2', 'Ot3', 'Ot4', 'Ot5', 'PayAmt', 'Submit',
       'Approve', 'SysUpdate', 'EarlyIn', 'GraceIn', 'EarlyOut', 'LateOut',
       'LongMeal', 'ShortMeal', 'LongBreak', 'ShortBreak', 'Absences',
       'DayApprove', 'Status', 'AutoMeal', 'EarlyOutG', 'NoMeal', 'Overtime',
       'ShortWkDay', 'AppPunch', 'AuthOt', 'PaidBrk', 'MlPremCnt', 'MlPremWav',
       'BkPremCnt', 'BkPremWav'],
      dtype='object')

In [71]:
#Subset the columns on timesheet_df
timesheet_df = timesheet_df[['EmployeeId', 'Starts', 'Ends', 'Id']]
timesheet_df

      EmployeeId                     Starts                       Ends      Id
0           1289  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00  523596
1           5432  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00  524132
2            246  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00  525700
3           2288  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00  527699
4           6581  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00  527805
...          ...                        ...                        ...     ...
4155        7672  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00  556845
4156        7669  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00  556867
4157        4341  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00  556914
4158        7673  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00  556977
4159        7674  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00  556980

[4160 rows x 4 columns]

In [72]:
#Rename the starts and ends columns
timesheet_df.rename(columns={'Starts': 'PayPeriodStart', 'Ends': 'PayPeriodEnd', 'EmployeeId': 'EmpId', 'Id': 'TimesheetId'}, inplace=True)
timesheet_df

C:\Users\SQLadmin\AppData\Local\Temp\34\ipykernel_2304\65078390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  timesheet_df.rename(columns={'Starts': 'PayPeriodStart', 'Ends': 'PayPeriodEnd', 'EmployeeId': 'EmpId', 'Id': 'TimesheetId'}, inplace=True)

      EmpId             PayPeriodStart               PayPeriodEnd  TimesheetId
0      1289  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00       523596
1      5432  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00       524132
2       246  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00       525700
3      2288  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00       527699
4      6581  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00       527805
...     ...                        ...                        ...          ...
4155   7672  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00       556845
4156   7669  2023-03-12T00:00:00-05:00  2023-03-25T00:00:00-04:00       556867
4157   4341  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00       556914
4158   7673  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00       556977
4159   7674  2023-03-26T00:00:00-04:00  2023-04-08T00:00:00-04:00       556980

[4160 rows x 4 columns]

In [73]:
#Update the EmpId column so that is is string datatype
timesheet_df['EmpId'] = timesheet_df['EmpId'].astype('str')
time_df['EmpId'] = time_df['EmpId'].astype('str')

C:\Users\SQLadmin\AppData\Local\Temp\34\ipykernel_2304\688352126.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  timesheet_df['EmpId'] = timesheet_df['EmpId'].astype('str')

In [74]:
#Update the dates for pay period start and end
timesheet_df['PayPeriodStart'] = timesheet_df['PayPeriodStart'].apply(lambda x: str(x)[:10])
timesheet_df['PayPeriodEnd'] = timesheet_df['PayPeriodEnd'].apply(lambda x: str(x)[:10])

timesheet_df

C:\Users\SQLadmin\AppData\Local\Temp\34\ipykernel_2304\2593672682.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  timesheet_df['PayPeriodStart'] = timesheet_df['PayPeriodStart'].apply(lambda x: str(x)[:10])

     EmpId PayPeriodStart PayPeriodEnd  TimesheetId
0     1289     2023-03-12   2023-03-25       523596
1     5432     2023-03-12   2023-03-25       524132
2      246     2023-03-12   2023-03-25       525700
3     2288     2023-03-12   2023-03-25       527699
4     6581     2023-03-12   2023-03-25       527805
...    ...            ...          ...          ...
4155  7672     2023-03-26   2023-04-08       556845
4156  7669     2023-03-12   2023-03-25       556867
4157  4341     2023-03-26   2023-04-08       556914
4158  7673     2023-03-26   2023-04-08       556977
4159  7674     2023-03-26   2023-04-08       556980

[4160 rows x 4 columns]

## Join the time and timesheet dataframes

In [87]:
merged_df = time_df.merge(timesheet_df, left_on=['ShortEmpId', 'WorkDate'], right_on=['EmpId')
merged_df

,EmpId_x,WorkDate,RegHr,Overt1,Overt2,Overt3,Overt4,Overt5,In,Out,TimeId,ShortEmpId,LongEmpId,EmpId_y,PayPeriodStart,PayPeriodEnd,TimesheetId
0,001004923-JAV8Y,2023-03-02,2.4667,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:34:00-05:00,2023-03-02T16:02:00-05:00,8031153,4923,001004923,4923,2023-03-12,2023-03-25,547828
1,001004923-JAV8Y,2023-03-02,2.4667,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:34:00-05:00,2023-03-02T16:02:00-05:00,8031153,4923,001004923,4923,2023-03-26,2023-04-08,550874
2,001004923-JAV8Y,2023-03-01,5.7833,0.0,0.0,0.0,0.0,0.0,2023-03-01T06:30:00-05:00,2023-03-01T12:17:00-05:00,8026721,4923,001004923,4923,2023-03-12,2023-03-25,547828
3,001004923-JAV8Y,2023-03-01,5.7833,0.0,0.0,0.0,0.0,0.0,2023-03-01T06:30:00-05:00,2023-03-01T12:17:00-05:00,8026721,4923,001004923,4923,2023-03-26,2023-04-08,550874
4,001004923-JAV8Y,2023-03-10,4.3167,0.0,0.0,0.0,0.0,0.0,2023-03-10T06:31:00-05:00,2023-03-10T10:50:00-05:00,8047890,4923,001004923,4923,2023-03-12,2023-03-25,547828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,001007026-JAV8Y,2023-03-28,9.6333,0.0,0.0,0.0,0.0,0.0,2023-03-28T07:47:00-04:00,2023-03-28T17:25:00-04:00,8091269,7026,001007026,7026,2023-03-26,2023-04-08,551455
18245,001007026-JAV8Y,2023-03-30,8.0000,0.0,0.0,0.0,0.0,0.0,2023-03-30T07:54:00-04:00,2023-03-30T15:54:00-04:00,8096820,7026,001007026,7026,2023-03-12,2023-03-25,548416
18246,001007026-JAV8Y,2023-03-30,8.0000,0.0,0.0,0.0,0.0,0.0,2023-03-30T07:54:00-04:00,2023-03-30T15:54:00-04:00,8096820,7026,001007026,7026,2023-03-26,2023-04-08,551455
18247,001006549-JAV8Y,2023-03-31,6.5000,0.0,0.0,0.0,0.0,0.0,2023-03-31T09:30:00-04:00,2023-03-31T16:00:00-04:00,8106973,6549,001006549,6549,2023-03-26,2023-04-08,534598
18248,001006549-JAV8Y,2023-03-31,6.5000,0.0,0.0,0.0,0.0,0.0,2023-03-31T09:30:00-04:00,2023-03-31T16:00:00-04:00,8106973,6549,001006549,6549,2023-03-12,2023-03-25,535355

In [107]:
##Test
#merged_df[merged_df['LongEmpId'] == '001004923'].sort_values('WorkDate', ascending=True)
time_df.head()

,EmpId,WorkDate,RegHr,Overt1,Overt2,Overt3,Overt4,Overt5,In,Out,TimeId,ShortEmpId,LongEmpId
0,001008241-JAV8Y,2023-03-02,4.9833,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T18:30:00-05:00,8031137,8241,001008241
1,001008157-JAV8Y,2023-03-02,3.5000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,8031138,8157,001008157
2,001008104-JAV8Y,2023-03-02,3.3000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T16:49:00-05:00,8031139,8104,001008104
3,001003230-JAV8Y,2023-03-02,4.1000,0.0,0.0,0.0,0.0,0.0,2023-03-02T14:34:00-05:00,2023-03-02T18:40:00-05:00,8031140,3230,001003230
4,001008228-JAV8Y,2023-03-02,3.5000,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:31:00-05:00,2023-03-02T17:01:00-05:00,8031141,8228,001008228

In [108]:
timesheet_df.head()

  EmpId PayPeriodStart PayPeriodEnd  TimesheetId
0  1289     2023-03-12   2023-03-25       523596
1  5432     2023-03-12   2023-03-25       524132
2   246     2023-03-12   2023-03-25       525700
3  2288     2023-03-12   2023-03-25       527699
4  6581     2023-03-12   2023-03-25       527805

In [88]:
#Drop extra columns
merged_df.drop(columns={'EmpId_x', 'EmpId_y'}, inplace=True)

In [90]:
merged_df_reorder = merged_df[['ShortEmpId', 'LongEmpId', 'TimeId', 'TimesheetId', 'WorkDate', 'RegHr', 'Overt1', 'Overt2', 'Overt3', 'Overt4', 'Overt5', 'In', 'Out',
       'PayPeriodStart', 'PayPeriodEnd']]

merged_df_reorder

,ShortEmpId,LongEmpId,TimeId,TimesheetId,WorkDate,RegHr,Overt1,Overt2,Overt3,Overt4,Overt5,In,Out,PayPeriodStart,PayPeriodEnd
0,4923,001004923,8031153,547828,2023-03-02,2.4667,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:34:00-05:00,2023-03-02T16:02:00-05:00,2023-03-12,2023-03-25
1,4923,001004923,8031153,550874,2023-03-02,2.4667,0.0,0.0,0.0,0.0,0.0,2023-03-02T13:34:00-05:00,2023-03-02T16:02:00-05:00,2023-03-26,2023-04-08
2,4923,001004923,8026721,547828,2023-03-01,5.7833,0.0,0.0,0.0,0.0,0.0,2023-03-01T06:30:00-05:00,2023-03-01T12:17:00-05:00,2023-03-12,2023-03-25
3,4923,001004923,8026721,550874,2023-03-01,5.7833,0.0,0.0,0.0,0.0,0.0,2023-03-01T06:30:00-05:00,2023-03-01T12:17:00-05:00,2023-03-26,2023-04-08
4,4923,001004923,8047890,547828,2023-03-10,4.3167,0.0,0.0,0.0,0.0,0.0,2023-03-10T06:31:00-05:00,2023-03-10T10:50:00-05:00,2023-03-12,2023-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7026,001007026,8091269,551455,2023-03-28,9.6333,0.0,0.0,0.0,0.0,0.0,2023-03-28T07:47:00-04:00,2023-03-28T17:25:00-04:00,2023-03-26,2023-04-08
18245,7026,001007026,8096820,548416,2023-03-30,8.0000,0.0,0.0,0.0,0.0,0.0,2023-03-30T07:54:00-04:00,2023-03-30T15:54:00-04:00,2023-03-12,2023-03-25
18246,7026,001007026,8096820,551455,2023-03-30,8.0000,0.0,0.0,0.0,0.0,0.0,2023-03-30T07:54:00-04:00,2023-03-30T15:54:00-04:00,2023-03-26,2023-04-08
18247,6549,001006549,8106973,534598,2023-03-31,6.5000,0.0,0.0,0.0,0.0,0.0,2023-03-31T09:30:00-04:00,2023-03-31T16:00:00-04:00,2023-03-26,2023-04-08
18248,6549,001006549,8106973,535355,2023-03-31,6.5000,0.0,0.0,0.0,0.0,0.0,2023-03-31T09:30:00-04:00,2023-03-31T16:00:00-04:00,2023-03-12,2023-03-25

## Add in the EarningsByCode table data

In [91]:
report_path = helper_functions_labor_distribution.get_report_file_path('Earnings_by_Code')

report_path

c:\UKG\Reports as a service\Labor distribution\helper_functions_labor_distribution.py:70: ResourceWarning: unclosed file <_io.TextIOWrapper name='file.xml' mode='w' encoding='UTF-8'>
  open("file.xml", "w").write(response.text)
ResourceWarning: Enable tracemalloc to get the object allocation traceback

"/content/folder[@name='zzzCompany Folders']/folder[@name='Proliance Surgeons, Inc., P.S.']/folder[@name='UltiPro']/folder[@name='Export to SQL']/report[@name='Earnings_by_Code']"

In [92]:
earnings_by_code_df = helper_functions_labor_distribution.retrieve_report(report_path) 
earnings_by_code_df

c:\UKG\Reports as a service\Labor distribution\helper_functions_labor_distribution.py:70: ResourceWarning: unclosed file <_io.TextIOWrapper name='file.xml' mode='w' encoding='UTF-8'>
  open("file.xml", "w").write(response.text)
ResourceWarning: Enable tracemalloc to get the object allocation traceback

,company,employee_name,employee_number,job_code,earnings_code,location_code,location,allocated_earning_amount,allocated_earning_hours,allocation_percent,period_control_date,org_level_3_code,gl_base_segment,gl_sub_account_(job),period_start_date,period_end_date,pay_group,pay_group_code
0,Proliance Surgeons_ Inc.,Perez_ Christa Lynn M.,001008557,110101,REG,008300,ROI,-175.35,-8.35,1,2023-02-17 00:00:00,000,,56300,2023-01-15 00:00:00,2023-01-28 00:00:00,Hourly BiWeekly,HOURLY
1,Proliance Surgeons_ Inc.,Perez_ Christa Lynn M.,001008557,110101,UPTO,008300,ROI,0,-32,0,2023-02-17 00:00:00,000,,56300,2023-01-15 00:00:00,2023-01-28 00:00:00,Hourly BiWeekly,HOURLY
2,Proliance Surgeons_ Inc.,Wolfe_ Michael J.,001008695,300,REGD,004600,PSENT - Edmonds,13846.15,64,1,2023-02-17 00:00:00,3062,,51100,2023-01-29 00:00:00,2023-02-11 00:00:00,Doctor BiWeekly,DOCTOR
3,Proliance Surgeons_ Inc.,Locknane_ Timothy D.,000310305,300,REGD,003000,PRO,4615.38,80,1,2023-02-17 00:00:00,6030,,51100,2023-01-29 00:00:00,2023-02-11 00:00:00,Doctor BiWeekly,DOCTOR
4,Proliance Surgeons_ Inc.,Eisen_ Eric A.,001007078,301,REGD,007069,PEENT - Redmond,5769.23,80,0.697674,2023-02-17 00:00:00,3053,,5140,2023-01-29 00:00:00,2023-02-11 00:00:00,Doctor BiWeekly,DOCTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61583,Proliance Surgeons_ Inc.,Burns_ June K.,001005175,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14 00:00:00,Hourly BiWeekly,HOURLY
61584,Proliance Surgeons_ Inc.,Swienty_ Michelle A.,001008600,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14 00:00:00,Hourly BiWeekly,HOURLY
61585,Proliance Surgeons_ Inc.,Cortez_ Arlene,001008738,,,,,,,,2023-02-17 00:00:00,,,,,2023-02-11 00:00:00,Hourly BiWeekly,HOURLY
61586,Proliance Surgeons_ Inc.,Cielo-Brown_ Anniezyl,001003271,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14 00:00:00,Salaried Biweekly,SALARY
61587,Proliance Surgeons_ Inc.,Andreasen_ Lauren M.,001004002,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14 00:00:00,Hourly BiWeekly,HOURLY

In [93]:
#Update the format of period_start_date and period_end_date in earnings_by_code_df 
earnings_by_code_df['period_start_date'] = earnings_by_code_df['period_start_date'].apply(lambda x: str(x)[:10])
earnings_by_code_df['period_end_date'] = earnings_by_code_df['period_end_date'].apply(lambda x: str(x)[:10])

earnings_by_code_df

,company,employee_name,employee_number,job_code,earnings_code,location_code,location,allocated_earning_amount,allocated_earning_hours,allocation_percent,period_control_date,org_level_3_code,gl_base_segment,gl_sub_account_(job),period_start_date,period_end_date,pay_group,pay_group_code
0,Proliance Surgeons_ Inc.,Perez_ Christa Lynn M.,001008557,110101,REG,008300,ROI,-175.35,-8.35,1,2023-02-17 00:00:00,000,,56300,2023-01-15,2023-01-28,Hourly BiWeekly,HOURLY
1,Proliance Surgeons_ Inc.,Perez_ Christa Lynn M.,001008557,110101,UPTO,008300,ROI,0,-32,0,2023-02-17 00:00:00,000,,56300,2023-01-15,2023-01-28,Hourly BiWeekly,HOURLY
2,Proliance Surgeons_ Inc.,Wolfe_ Michael J.,001008695,300,REGD,004600,PSENT - Edmonds,13846.15,64,1,2023-02-17 00:00:00,3062,,51100,2023-01-29,2023-02-11,Doctor BiWeekly,DOCTOR
3,Proliance Surgeons_ Inc.,Locknane_ Timothy D.,000310305,300,REGD,003000,PRO,4615.38,80,1,2023-02-17 00:00:00,6030,,51100,2023-01-29,2023-02-11,Doctor BiWeekly,DOCTOR
4,Proliance Surgeons_ Inc.,Eisen_ Eric A.,001007078,301,REGD,007069,PEENT - Redmond,5769.23,80,0.697674,2023-02-17 00:00:00,3053,,5140,2023-01-29,2023-02-11,Doctor BiWeekly,DOCTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61583,Proliance Surgeons_ Inc.,Burns_ June K.,001005175,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14,Hourly BiWeekly,HOURLY
61584,Proliance Surgeons_ Inc.,Swienty_ Michelle A.,001008600,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14,Hourly BiWeekly,HOURLY
61585,Proliance Surgeons_ Inc.,Cortez_ Arlene,001008738,,,,,,,,2023-02-17 00:00:00,,,,,2023-02-11,Hourly BiWeekly,HOURLY
61586,Proliance Surgeons_ Inc.,Cielo-Brown_ Anniezyl,001003271,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14,Salaried Biweekly,SALARY
61587,Proliance Surgeons_ Inc.,Andreasen_ Lauren M.,001004002,,,,,,,,2023-01-20 00:00:00,,,,,2023-01-14,Hourly BiWeekly,HOURLY

In [94]:
earnings_by_code_df.columns

Index(['company', 'employee_name', 'employee_number', 'job_code',
       'earnings_code', 'location_code', 'location',
       'allocated_earning_amount', 'allocated_earning_hours',
       'allocation_percent', 'period_control_date', 'org_level_3_code',
       'gl_base_segment', 'gl_sub_account_(job)', 'period_start_date',
       'period_end_date', 'pay_group', 'pay_group_code'],
      dtype='object')

In [95]:
merged_df.columns

Index(['WorkDate', 'RegHr', 'Overt1', 'Overt2', 'Overt3', 'Overt4', 'Overt5',
       'In', 'Out', 'TimeId', 'ShortEmpId', 'LongEmpId', 'PayPeriodStart',
       'PayPeriodEnd', 'TimesheetId'],
      dtype='object')

In [96]:
#Join the earnings by code dataframe to the merged dataset
merged_df_2 = merged_df_reorder.merge(right=earnings_by_code_df, left_on=['LongEmpId', 'PayPeriodStart', 'PayPeriodEnd'], right_on = ['employee_number', 'period_start_date', 'period_end_date'])
#merged_df_2 = merged_df_reorder.merge(right=earnings_by_code_df, left_on=['LongEmpId', 'PayPeriodStart', 'PayPeriodEnd'], right_on = ['employee_number', 'period_start_date', 'period_end_date'])
merged_df_2

,ShortEmpId,LongEmpId,TimeId,TimesheetId,WorkDate,RegHr,Overt1,Overt2,Overt3,Overt4,...,allocated_earning_hours,allocation_percent,period_control_date,org_level_3_code,gl_base_segment,gl_sub_account_(job),period_start_date,period_end_date,pay_group,pay_group_code
0,4923,001004923,8031153,547828,2023-03-02,2.4667,0.0000,0.0,0.0,0.0,...,0,0.003348,2023-03-31 00:00:00,000,,54540,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
1,4923,001004923,8031153,547828,2023-03-02,2.4667,0.0000,0.0,0.0,0.0,...,0.35,0.007098,2023-03-31 00:00:00,000,,54540,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
2,4923,001004923,8031153,547828,2023-03-02,2.4667,0.0000,0.0,0.0,0.0,...,38.53,0.520869,2023-03-31 00:00:00,000,,54540,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
3,4923,001004923,8031153,547828,2023-03-02,2.4667,0.0000,0.0,0.0,0.0,...,34.67,0.468685,2023-03-31 00:00:00,000,,54540,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
4,4923,001004923,8026721,547828,2023-03-01,5.7833,0.0000,0.0,0.0,0.0,...,0,0.003348,2023-03-31 00:00:00,000,,54540,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46212,6160,001006160,8101054,548078,2023-03-31,3.2666,0.3667,0.0,0.0,0.0,...,40,1,2023-03-31 00:00:00,000,,54500,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
46213,6160,001006160,8107065,548078,2023-03-27,3.0000,0.0000,0.0,0.0,0.0,...,40,1,2023-03-31 00:00:00,000,,54500,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
46214,6160,001006160,8107066,548078,2023-03-27,5.0000,0.0000,0.0,0.0,0.0,...,40,1,2023-03-31 00:00:00,000,,54500,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
46215,6160,001006160,8107218,548078,2023-03-28,2.0000,0.0000,0.0,0.0,0.0,...,40,1,2023-03-31 00:00:00,000,,54500,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY
46216,6160,001006160,8107219,548078,2023-03-28,6.0000,0.0000,0.0,0.0,0.0,...,40,1,2023-03-31 00:00:00,000,,54500,2023-03-12,2023-03-25,Hourly BiWeekly,HOURLY

In [97]:
#(merged_df_2[merged_df_2['ShortEmpId'] == '6160']).to_csv('ukg_bulk_insert.csv', index=False)

In [98]:
#Export data as CSV
merged_df_2.to_csv('ukg_bulk_insert.csv', index=False)

In [99]:
#Pull data into SQL
#hf.create_sql_table_v2('ZZ_TEST_EmployeeHours')