In [1]:
#Import our libraries
import time
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

#Import our helper functions
import helper_functions_labor_distribution

# Step 1: Get the file report path we need

In [2]:
report_path = helper_functions_labor_distribution.get_report_file_path('Job Code')

report_path

"/content/folder[@name='zzzCompany Folders']/folder[@name='Proliance Surgeons, Inc., P.S.']/folder[@name='UltiPro']/folder[@name='Export to SQL']/report[@name='Job Code']"

## Step 2: Retrieve the report and export as a CSV

In [3]:
df = helper_functions_labor_distribution.retrieve_report(report_path) 
df

,job_code,job,job_family,job_status,eeo_category,flsa_type,gl_account_number,workers_compensation_category
0,210026,A/P Manager,Finance,Active,Professionals,Exempt,56100,Administrative/Clerical
1,110411,A/P Specialist,Finance,Active,Administrative Support Workers,Non-Exempt,56100,Administrative/Clerical
2,130021,A/P Specialist,Finance,Active,Administrative Support Workers,Non-Exempt,56100,Administrative/Clerical
3,130028,A/P Specialist Lead,Finance,Active,Administrative Support Workers,Non-Exempt,56100,<None>
4,110414,A/P Specialist Lead,Finance,Active,Administrative Support Workers,Non-Exempt,56100,<None>
...,...,...,...,...,...,...,...,...
393,130087,User Supt/Sr IT Team Lead,IT,Active,Technicians,Non-Exempt,56500,Technical Staff
394,210022,Val Base/Bundle Pymt Mgr,IT,Active,Professionals,Exempt,56100,Office
395,270005,VP ASC Operations,Leadership,Active,First/Mid-Level Officials and Managers,Exempt,56100,Officer
396,270006,VP Clinic Operations,Leadership,Active,First/Mid-Level Officials and Managers,Exempt,56100,Officer
397,270007,VP Human Resources,Leadership,Active,First/Mid-Level Officials and Managers,Exempt,56100,Officer

In [4]:
#Drop the workers_compensation_category column
df.drop(columns='workers_compensation_category', inplace=True)

df

,job_code,job,job_family,job_status,eeo_category,flsa_type,gl_account_number
0,210026,A/P Manager,Finance,Active,Professionals,Exempt,56100
1,110411,A/P Specialist,Finance,Active,Administrative Support Workers,Non-Exempt,56100
2,130021,A/P Specialist,Finance,Active,Administrative Support Workers,Non-Exempt,56100
3,130028,A/P Specialist Lead,Finance,Active,Administrative Support Workers,Non-Exempt,56100
4,110414,A/P Specialist Lead,Finance,Active,Administrative Support Workers,Non-Exempt,56100
...,...,...,...,...,...,...,...
393,130087,User Supt/Sr IT Team Lead,IT,Active,Technicians,Non-Exempt,56500
394,210022,Val Base/Bundle Pymt Mgr,IT,Active,Professionals,Exempt,56100
395,270005,VP ASC Operations,Leadership,Active,First/Mid-Level Officials and Managers,Exempt,56100
396,270006,VP Clinic Operations,Leadership,Active,First/Mid-Level Officials and Managers,Exempt,56100
397,270007,VP Human Resources,Leadership,Active,First/Mid-Level Officials and Managers,Exempt,56100

# Step 3: Export the report as a CSV

In [5]:
df.to_csv('ukg_bulk_insert.csv', index=False)

# Step 4: Insert the report into BiData2 as a table

In [6]:
helper_functions_labor_distribution.create_sql_table_v2('ZZ_TEST_JobCode_GLAccount')

# Step 5: Close the API connection

In [7]:
helper_functions_labor_distribution.close_api_connection()

'<s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action s:mustUnderstand="1">http://www.ultipro.com/dataservices/bidata/2/IBIDataService/LogOffResponse</a:Action></s:Header><s:Body><LogOffResponse xmlns="http://www.ultipro.com/dataservices/bidata/2"><LogOffResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ServiceId i:nil="true"/><ClientAccessKey>PLAB4</ClientAccessKey><Token i:nil="true"/><Status>LoggedOff</Status><StatusMessage i:nil="true"/><InstanceKey i:nil="true"/></LogOffResult></LogOffResponse></s:Body></s:Envelope>'

Code to create the table: 

CREATE TABLE ZZ_TEST_EarningsByCode(
	company NVARCHAR(255), 
	employee_name NVARCHAR(255), 
	employee_number NVARCHAR(255), 
	job_code NVARCHAR(255), 
	earnings_code NVARCHAR(255), 
	location_code NVARCHAR(255), 
	location NVARCHAR(255), 
	allocated_earning_amount NVARCHAR(255), 
	allocated_earning_hours NVARCHAR(255), 
	allocation_percent NVARCHAR(255), 
	period_control_date NVARCHAR(255), 
	org_level_3_code NVARCHAR(255), 
	gl_base_segment NVARCHAR(255), 
	gl_sub_account NVARCHAR(255), 
	period_start_date NVARCHAR(255), 
	period_end_date NVARCHAR(255), 
	pay_group NVARCHAR(255), 
	pay_group_code NVARCHAR(255))