In [1]:
#Import our libraries
import time
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import xmltodict
import pandas as pd
import csv
import base64 
import sqlalchemy

#Import our helper functions
import helper_functions_labor_distribution

# Step 1: Get the report path

In [2]:
#report_path = report_lst[report_lst['ReportName'] == 'Locations Address']['ReportPath'].loc[55]
report_path = helper_functions_labor_distribution.get_report_file_path('Locations Address')

report_path

"/content/folder[@name='zzzCompany Folders']/folder[@name='Proliance Surgeons, Inc., P.S.']/folder[@name='UltiPro']/folder[@name='Export to SQL']/report[@name='Locations Address']"

## Step 2: Retrieve the report and export as a CSV

In [3]:
df = helper_functions_labor_distribution.retrieve_report(report_path) 
df

,address_1_(location),address_2_(location),bar_code_(location),bank_name_(location),bank_(location),city_(location),comments_(location),contact_(location),country_code_(location),country_(location),...,modem_number_(location),phone_extension_(location),phone_number_(location),post_season_number_of_games_(location),reporting_category_code_(location),reporting_category_(location),reporting_unit_number_(location),season_number_of_games_(location),state_(location),zip_code_(location)
0,,,,,,,,,USA,United States,...,,,,,,,,,,
1,,,,,,,,,USA,United States,...,,,,,,,,,,
2,,,,,,,,,USA,United States,...,,,,,,,,,,
3,,,,,,,,,USA,United States,...,,,,,,,,,,
4,,,,,,,,,USA,United States,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,TBD,,None,,,Renton,,,USA,United States,...,None,,None,0,,,99999,0,WA,98055
549,TCRSC - 008100,805 Madison Street_ Suite 901,None,None,,Seattle,,,USA,United States,...,None,,None,0,,,,0,WA,98104
550,Tri Cities ASC,None,None,None,,Seattle,None,None,USA,United States,...,None,,None,0,,,,0,WA,98104
551,Vitreoretinal Associates,1750 112th Ave NE_ Suite D050,None,,,Bellevue,None,,USA,United States,...,None,,None,0,,,,0,WA,98004
552,Vitreoretinal Associates - ASC,1750 112th Ave NE_ Suite D050,None,,,Bellevue,None,,USA,United States,...,None,,None,0,,,,0,WA,98004

In [4]:
df.columns

Index(['address_1_(location)', 'address_2_(location)', 'bar_code_(location)',
       'bank_name_(location)', 'bank_(location)', 'city_(location)',
       'comments_(location)', 'contact_(location)', 'country_code_(location)',
       'country_(location)', 'county_(location)', 'fax_number_(location)',
       'gl_account_number_(location)', 'location_code', 'location',
       'location_name', 'import_code_(location)', 'inactive_date_(location)',
       'is_inactive_(location)', 'mailstop_(location)',
       'modem_number_(location)', 'phone_extension_(location)',
       'phone_number_(location)', 'post_season_number_of_games_(location)',
       'reporting_category_code_(location)', 'reporting_category_(location)',
       'reporting_unit_number_(location)', 'season_number_of_games_(location)',
       'state_(location)', 'zip_code_(location)'],
      dtype='object')

# Step 3: Export the report as a CSV

In [6]:
df.to_csv('ukg_bulk_insert.csv', index=False)

# Step 4: Insert the report into BiData2 as a table

In [7]:
helper_functions_labor_distribution.create_sql_table_v2('STG_LocationAddress')

# Step 5: Close the API connection

In [8]:
helper_functions_labor_distribution.close_api_connection()

'<s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action s:mustUnderstand="1">http://www.ultipro.com/dataservices/bidata/2/IBIDataService/LogOffResponse</a:Action></s:Header><s:Body><LogOffResponse xmlns="http://www.ultipro.com/dataservices/bidata/2"><LogOffResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ServiceId i:nil="true"/><ClientAccessKey>PLAB4</ClientAccessKey><Token i:nil="true"/><Status>LoggedOff</Status><StatusMessage i:nil="true"/><InstanceKey i:nil="true"/></LogOffResult></LogOffResponse></s:Body></s:Envelope>'

The code to create the SQL Table:
CREATE TABLE ZZ_TEST_Locations_Address(
	address1 VARCHAR(255),
	address2 VARCHAR(255),
	bar_code VARCHAR(255),
	bank_name VARCHAR(255),
	bank VARCHAR(255),
	city VARCHAR(255),
	comments VARCHAR(255),
	contact VARCHAR(255),
	country_code VARCHAR(255),
	country VARCHAR(255),
	county VARCHAR(255),
	fax_number VARCHAR(255),
	gl_account_number VARCHAR(255),
	location_code VARCHAR(255),
	location_ VARCHAR(255),
	location_name VARCHAR(255),
	import_code VARCHAR(255),
	inactive_date VARCHAR(255),
	is_inactive VARCHAR(255),
	mailstop VARCHAR(255),
	modem_number VARCHAR(255),
	phone_extention VARCHAR(255),
	phone_number VARCHAR(255),
	post_season_number_of_games VARCHAR(255),
	reporting_category_code VARCHAR(255),
	reporting_category VARCHAR(255),
	reporting_unit_number VARCHAR(255),
	season_number_of_games VARCHAR(255),
	state_ VARCHAR(255),
	zip_code VARCHAR(255))