# Helper functions test

In [2]:
import helper_functions

In [3]:
#Authenticate function
#helper_functions.authenticate()

In [4]:
#Get available reports function
#helper_functions.get_available_reports()

In [5]:
#Get report key function
report_file_path = "/content/folder[@name='zzzCompany Folders']/folder[@name='Proliance Surgeons, Inc., P.S.']/folder[@name='UltiPro']/folder[@name='Export to SQL']/report[@name='Pre-Check Master']"
report_key = helper_functions.get_report_key(report_file_path)

In [6]:
#Get report function
helper_functions.retrieve_report(report_key)

,period_control_date,period_control,period_end_date,employee_number,"last,_first_mi",location_code,org_level_1_code,org_level_2_code,hourly_pay_rate,annual_salary,job_code,job_title,total_hours,check_amount,direct_deposit_amount,net_amount,total_earning_amount,total_deduction_amount,total_taxes
0,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,000000184,"Gonzalez, Sylvia R.",007070,007070,001,30,62400,110201,Rev Cycle Collection Spec,83.65,0,1909.48,1909.48,2509.5,71.51,528.51
1,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,000000226,"Swart, Tammy L.",008040,008040,001,27.91,58052.8,110131,Scheduler,80.88,0,1570.73,1570.73,2269.64,245.49,453.42
2,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,000000255,"Harmon, Kurt E.",007700,007700,001,17.341101,36069.49,300,Physician,0,0,0,0,0,0,0
3,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,000000273,"Clark, Jessica L.",008040,008040,001,24.5,50960,110101,Patient Services Rep,83.45,0,1569.93,1569.93,2086.79,171.51,345.35
4,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,000000290,"Kim, Helen H.",006000,006000,001,17.341101,36069.49,300,Physician,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,001008598,"Konkel, Karen A.",005300,005300,001,18,0,110331,PT Aide,9,148.9,0,148.9,162,0,13.1
2209,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,001008599,"Smith, Joy L.",002800,002800,001,72.115385,120000,410013,Physician Assistant,32,1891.47,0,1891.47,2307.69,0,416.22
2210,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,001008600,"Swienty, Michelle A.",003400,003400,001,33.5,69680,120001,RN,73.26,2071.78,0,2071.78,2565.6,0,493.82
2211,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,001008603,"Watts, Natasha M.",001300,001300,001,19.5,20280,110001,MA,2.75,49.28,0,49.28,53.62,0,4.34
2212,2022-11-25T00:00:00,202211251,2022-11-19T00:00:00,001008605,"Todd, Katherine L.",004400,004400,001,57.692308,120000,410002,ARNP,40,1891.47,0,1891.47,2307.69,0,416.22

In [7]:
helper_functions.get_available_precheck_reports()

,ReportName,ReportPath
61,Pre-Check Deduction,/content/folder[@name='zzzCompany Folders']/fo...
62,Pre-Check Earnings,/content/folder[@name='zzzCompany Folders']/fo...
63,Pre-Check Master,/content/folder[@name='zzzCompany Folders']/fo...
64,Pre-Check Payroll Register,/content/folder[@name='zzzCompany Folders']/fo...
65,Pre-Check Tax,/content/folder[@name='zzzCompany Folders']/fo...
66,Prenote,/content/folder[@name='zzzCompany Folders']/fo...